.background {
    -fx-background-color: #1d1d1d;
}

.rootbackground{
	-fx-background-image: url("../../../resources/RootLayout.png");
	-fx-background-size: 350px;
}

.repobackground{
	-fx-background-image: url("../../../resources/RepoTapLayout.png");
	-fx-background-size: 350px;
}

.friendbackground{
	-fx-background-image: url("../../../resources/FriendTapLayout.png");
	-fx-background-size: 350px;
}

.othersbackground{
	-fx-background-image: url("../../../resources/OthersTapLayout.png");
	-fx-background-size: 350px;
}

.transparent{
	-fx-background-color: transparent;
}

.gg{
	-fx-font-family: "BMDOHYEON";
	-fx-font-size: 12;
	-fx-text-fill: white;
}