.background {
    -fx-background-color: #1d1d1d;
}

.root{
	-fx-background-image: url("../../../resources/RootLayout.png");
	-fx-background-size: 350px;
}

.transparent{
	-fx-background-color: transparent;
}

.gg{
	-fx-font-family: "BMDOHYEON";
	-fx-font-size: 12;
	-fx-text-fill: white;
}